.rocketImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}
.centered{
  text-align: center;
}
.rocketCard {
  background-color: rgb(65, 65, 65) !important;
  color: white;
}

.launchContainer{
  padding: 3rem;
}
.tittle{
  color:white
}

