<header class=" fixed-top navbar-scrolled">
  <div class="px-3 py-2 navBorder">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none fontBig logo">
          Oddity
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a  routerLink="/home" class="nav-link text-white fontText menu">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/launches" class="nav-link text-white fontText menu">
              Launches          
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

