
<header class="container-fluid d-flex backImg justify-content-center align-items-center" [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(' + launchDetail.image + ')'" >
  <div class="container text-center">
    <div>
      <h1 class="fontBigTittle yellow">{{launchDetail.name}}</h1>
      <h2 class="fontSmall">{{launchDetail.status.name}}</h2>
      <h1 class="fontBig">{{countdown.days}}</h1>
    </div>
  </div>

</header>

<div class="container contHome rounded p-5">

  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-9 col-lg-9 text-center mt-4 mb-4 d-flex flex-column justify-content-center align-items-center">
      
      
    </div>
  </div>

  </div>